.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  transition: ease-in 0.5s;
}

.nav-item:hover {
  background-color: rgba(102, 102, 102, 0.5);
  color: white;
  border-radius: 3px;
}

.active-nav-item {
  color: #333333;
  font-weight: bold;
}
